<!DOCTYPE html>
<html lang="en" ng-app="waitstaff">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>WaitStaff Calculator</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

</head>

<body>
    <div class="container" ng-controller="waitCtrl">
        <h1> Waitstaff Calculator Basic</h1>
        <div class="mealDetails leftSide borderDiv">
            <h3>Enter the Meal Details</h3>
            <form name="enterPriceForm" ng-submit="submitDetails()" novalidate>
                <div>
                    <label for="mealPrice">Base Meal Price: $</label>
                    <input type="number" ng-model="mealPrice" required step="0.01" />
                </div>
                <div>
                    <label for="taxRate">Tax Rate: %</label>
                    <input type="number" ng-model="taxRate" required step="0.05" />
                </div>
                <div>
                    <label for="tipPercentage">Tip Percentage: %</label>
                    <input type="number" ng-model="tipPercentage" required step="0.1" />
                </div>
                <div class="error" ng-model="formError != ''">Please enter in valid values for the form
                </div>
                <div class="inputButtons">
                    <button id="submit">Submit</button>
                    <button ng-click="resetDetails()" id="cancel">Cancel</button>
                </div>
            </form>
        </div>

        <div class="rightSide">
            <div class="customerCharges borderDiv">
                <h3>Customer Charges</h3>
                <div>
                    <label>Subtotal: </label><span>{{subtotal | number:2}}</span></div>
                <div>
                    <label>Tip: </label><span>{{tip | number:2}}</span>
                </div>
                <hr>
                <div>
                    <label>Total</label><span>{{total | number:2</span>
                </div>
                <div class="earningsInfo borderDiv">
                    <h3>My Earnings Info</h3>
                    <div>
                        <label>Tip Total:</label><span>{{tipTotal | number:2}}</span>
                    </div>
                    <div>
                        <label>Meal Count:</label><span>{{mealCount | number:0}}</span>
                    </div>
                    <div>
                        <label>Avg Tip Per Meal:</label><span>{{avgTipPerMeal | number:2}}</span>
                    </div>
                </div>
                <button id="resetButton" ng-click="init()">Reset All</button>
            </div>


            <script src="js/app.js"></script>
</body>

</html>
