<div class="table">
    <h3>Overview for Ride {{rideCount}}:</h3>
    <button ng-click="back()" class="previousBtn">Previous Ride</button>
    <button ng-click="forward()" class="nextRideBtn">Next Ride</button>
    <br>
    <div>
        <h4>Subtotal: <em><span ng-repeat="ride in rides" ng-show="$index==(rideCount-1)">{{ride.subtotal | currency}}</span></em></h4>
        <h4>Tip: <em><span  ng-repeat="ride in rides" ng-show="$index==(rideCount-1)">{{ride.tip | currency}}</span></em></h4>
        <hr>
        <h4>Total:<em><span  ng-repeat="ride in rides" ng-show="$index==(rideCount-1)">{{ride.total | currency}}</span></em></h4>
    </div>
</div>
