<!DOCTYPE html>
<html lang="en" ng-app="waitstaff">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>WaitStaff Calculator</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.6/angular-animate.js"></script>

</head>

<body ng-app="myApp">
    <ul>
        <li><a href="#/details">Home</a></li>
        <li><a href="#/charges">New Meal</a></li>
        <li><a href="#/earnings">My Earnings Info</a></li>
    </ul>
    <div class="container" ng-controller="waitCtrl">
        <h1 class="subHeroTitle"> Waitstaff Calculator Basic</h1>
        <div class="mealDetails leftSide borderDiv">
            <h3>Enter the Meal Details</h3>
            <form name="enterPriceForm" ng-submit="submitDetails()" novalidate>
                <div>
                    <label for="mealPrice">Base Meal Price: $</label>
                    <input type="number" ng-model="mealPrice" required step="0.01" />
                </div>
                <div>
                    <label for="taxRate">Tax Rate: %</label>
                    <input type="number" ng-model="taxRate" required step="0.05" />
                </div>
                <div>
                    <label for="tipPercentage">Tip Percentage: %</label>
                    <input type="number" ng-model="tipPercentage" required step="0.1" />
                </div>
                <div class="error" ng-model="formError != ''">Please enter in valid values for the form
                </div>
                <div class="inputButtons">
                    <button id="submit">Submit</button>
                    <button ng-click="resetDetails()" id="cancel">Cancel</button>
                </div>

            </form>
        </div>




        <script src="app.js"></script>
</body>

</html>
